html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: hidden;
    overflow-y: hidden;
}
.mockupImageFullWidth {
    width: 100%;
}
#mockupImage {
    overflow: hidden;
    overflow-y: hidden;
    
}
.mockupImageNaturalWidth{
    width:inherit;
}