@page
@model IndexModel

<ul>
    @foreach (var mock in Model.Mockups) {
        <li>
            <a href="/mockup?MockupPath=@mock.relpathurl">@mock.relpath</a>
        </li>
    }
</ul>
<a href="/UploadMockup" class="btn btn-primary" role="button" aria-pressed="true">Upload a new mockup</a>

@section scripts{ 
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
</environment>
}
