@page "{MockupPath?}"
@model MockupModel

<ul id="mockupPageList">
    @foreach(var mpage in Model.MockupPages){
        <li>
            <a href="/ViewMockupPage?MockupPath=@Model.MockupPath&mockupName=@mpage.name">@mpage.name</a>
        </li>
    }
</ul>

<script>
    window.onload = function () {
        PreloadImages('@Model.ImageUrlsString');
    };
</script>

